<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="../styles/catalog.css">
</head>
<body>

    <h1>Grosary </h1>

    <div class="container" ng-controller="ProductController as data">
        <div class="row">
            <div class="col-md-5" ng-repeat="product in data.catalogs">
                <div class="card shadow-sm p-3 mb-4 bg-white rounded">
                    <img ng-src="{{product.imagePath}}" alt="{{product.productName}}" class="card-img-top same-size">
                    <div class="card-body">
                        <h5 class="card-title">{{product.productName}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p><strong>Price: </strong>{{product.price}} Rs</p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" ng-click="data.addToCart(product)">Add to Cart</button>
                            <button class="btn btn-outline-secondary" ng-click="data.viewProductDetails(product.id)">View Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>
